.App {
  text-align: center;
}
.btn {
  text-align: center;
  padding: 5px, 30px;
  border-radius: 7px;
  background-color: antiquewhite;
  color: black;   
  
}
.list {
  list-style-type: none;
  border-bottom: solid 3px black;
}

